<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.TysMapper">

    <select id="selectMember" resultType="com.example.demo.TysMember">
        SELECT S_MEMBER_ID, V_MEMBER_NM as vMemberNm, V_BIRTH, V_POSITION, V_DESC, V_NO, V_TEAM as vPosition FROM TYX_MEMBER
    </select>

</mapper>