<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.TysMapper">

    <select id="selectMember" resultType="com.example.demo.TysMember">
        select
         tm.v_no ,           
         tm.s_member_id,
         tm.v_member_nm     as vMemberNm,           
         tm.v_birth,    
         tpc.position_nm    as vPosition,
         tpc.position_cd,
         tm.v_desc          as "desc"           
     FROM
         tyx_member tm,
         tyx_position_cd tpc
     WHERE
         1 = 1
         and tm.v_position = tpc.position_cd(+)
         and rownum >0
     ORDER BY
         s_member_id
    </select>

</mapper>