<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.TysMapper">

    <select id="selectMember" resultType="com.example.demo.TysMember">
        select
         tm.v_no ,           
         tm.s_member_id,
         tm.v_member_nm,           
         tm.v_birth,    
         tpc.position_nm,
         tpc.position_cd,
         tm.v_desc
     FROM
         tyx_member tm,
         tyx_position_cd tpc
     WHERE
         1 = 1
         and tm.v_position = tpc.position_cd(+)
         and rownum > 0
     ORDER BY
         s_member_id
    </select>
    
	<insert id='insertMember' parameterType='com.example.demo.TysMember'>
		insert into tyx_member values (seq_member.nextval, #{v_member_nm}, #{v_birth}, #{position_cd}, #{v_desc}, #{s_member_id}, '한국')
  	</insert>

</mapper>